/* General styles */
body {
  background-color: black !important;
}

/* Game */
.game {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to bottom right,
    rgb(56, 44, 65),
    rgb(89, 51, 100)
  ) !important;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding: 10px;
}

/* Score level left nav styles */
#score-level {
  width: 100%;
  /* height: 100%; */
  /* padding: 10px; */
  margin-top: 15px;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 183, 255),
    rgb(215, 135, 240)
  );
  padding-bottom: 50px;
}

#score-level-title {
  font-weight: bolder;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  background-color: gold;
  color: brown;
  padding: 5px;
}

#score-level-total {
  color: whitesmoke;
  font-size: 20px;
  padding-left: 10px;
  text-align: center;
}

#levels {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.level-title {
  height: 30px;
  width: 100%;
  background-color: rgb(106, 198, 235);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-top: -3px;
}

.score-level-numbers {
  height: 40px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px gold solid;
  text-align: center;
}

#score-level-start {
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-top: -12px;
  background-color: burlywood;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Game Assistants Right Nav Styles*/
.game-assistants {
  width: 100%;
  margin-top: 15px;
  padding-bottom: 0;
  margin-right: 0;
}

#game-assistants-title {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  background-color: gold;
  color: brown;
  padding: 5px;
}

#game-assistants-points {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: brown;
  color: gold;
  padding: 3px;
}

/* rgb(71, 51, 73) */
#game-assistants-points-numbers {
  font-family: monospace;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  background-color: rgb(77, 74, 77);
  color: white;
  margin-bottom: 15px;
}

.feature {
  color: rgb(148, 228, 230);
}

.feature > button {
  color: rgb(148, 228, 230);
  margin-bottom: 20px;
  height: 55px !important;
  font-size: 18px;
  font-weight: 700;
  width: 80%;
}

#repeat-beat {
  background-image: linear-gradient(to right, #333435, #343736) !important;
  border: 2px solid rgb(0, 167, 209);
  word-spacing: 1000000000px;
}

#repeat-5-seconds {
  background-color: #333536 !important;
  border: 2px solid rgb(205, 124, 216);
}

#reveal-2-letters {
  background-color: #333435 !important;
  border: 2px solid rgb(124, 216, 155);
}

#skip-beats {
  background-color: #333435 !important;
  border: 2px solid rgb(0, 167, 209);
}

img {
  width: 100%;
  height: 170px;
}

/* Music Numbers style */
.music-numbers {
  width: 100%;
  margin-top: 15px;
  padding-bottom: 0;
  margin-right: 0;
  height: 100%;
  background-image: linear-gradient(
    to bottom left,
    rgb(215, 135, 240),
    rgb(0, 183, 255)
  );
}

.music-numbers-title {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  background-color: gold;
  color: brown;
  padding: 5px;
}

#timer-number-box {
  clear: both;
}

#timer {
  float: left;
  margin-left: 10px;
  width: 150px;
  font-size: 50px;
  color: white;
  font-family: "Orbitron", sans-serif;
  background-color: #000;
  margin-top: 15px;
  padding: 5px;
}
#chosen-number {
  width: 80%;
  line-height: 400px;
  background-color: white;
  color: rgb(89, 64, 97);
  border-radius: 5px;
  border: 2px solid black;
  font-size: 300px;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  box-shadow: 0 0px 30px white;
  text-align: center;
}

.chosen-number-box {
  border-radius: 10px;
  border: 5px solid black;
  background-color: white;
  height: 90px;
  width: 110px;
  margin-top: 10px;
  float: right;
  margin-right: 25px;
  margin-top: 15px;
}

.chosen-number {
  color: #8e5cc7;
  text-align: center;
  font-weight: 1000;
  font-size: 50px;
  margin-bottom: -15px;
  /* margin-top: -15px; */
  height: 100%;
  line-height: 100%;
}

.title-container {
  border-top: 3px solid gold;
  border-bottom: 3px solid gold;
  background-color: white;
  margin-top: 200px;
  height: 60px;
}

.title-container .title {
  text-align: center;
  color: rgb(0, 140, 255);
  padding-top: 15px;
  font-weight: 600;
}

/* answer section */

.answer-section {
  padding-top: 150px;
}

.answer-board {
  width: 85%;
  height: 70px;
  background-color: rgb(182, 241, 241);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border-radius: 5px;
  margin-left: 13px;

  padding-left: 10px;
  padding-top: 20px;
}

#answer-board-1 {
  margin-left: 15px;
}

#answer-board-1,
#answer-board-3 {
  text-align: right !important;
  padding-right: 10px;
}

.answer-points {
  width: 60px;
  height: 90px;
  background-color: rgb(127, 167, 167);
  color: white;
  word-spacing: 1000000px;
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
}

span {
  font-size: 25px;
}

#answer-points-30 {
  position: relative;
  z-index: 10;
  top: -80px;
  left: 40px;
}

#answer-points-50 {
  position: absolute;
  z-index: 10;
  top: -10px;
  right: 75px;
}

#answer-points-50-2 {
  position: relative;
  z-index: 10;
  top: -80px;
  left: 40px;
}

#answer-points-70 {
  position: absolute;
  z-index: 10;
  top: -10px;
  right: 75px;
}
